@model UserSignInModel
@{
    Layout = "_Layout";
}
<form asp-action="SignIn" asp-controller="Home" method="post" class="p-3 w-75 mx-auto shadow">
    <div class="mb-3">
        <label>Kullanıcı Adı</label>
        <span class="text-danger" asp-validation-for="@Model.UserName"></span>
        <input asp-for="@Model.UserName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Şifre</label>
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
        <input type="password" asp-for="@Model.Password" class="form-control" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </div>

    <div class="mt-2 text-danger" asp-validation-summary="ModelOnly"></div>
</form>